# automatically requests pull request reviews for files matching the given pattern; the last match takes precendence
# https://docs.github.com/en/repositories/managing-your-repositorys-settings-and-features/customizing-your-repository/about-code-owners
#
# pull requests are required to have at least 1 approval from one of the codeowners, as defined in the ruleset at https://github.com/spacetelescope/romancal/settings/rules/7658093
# files defined without any usernames or teams will have NO codeowner

# any files not matched below default to the maintainers team
* 								@spacetelescope/romancal-maintainers

# workflows and automation
/.github/						@zacharyburnett @jhunkeler

# steps and packages
/romancal/assign_wcs/			@ddavis-stsci
/romancal/associations/			@ddavis-stsci @mairanteodoro
/romancal/dark_current/			@ddavis-stsci
/romancal/datamodels/			@PaulHuwe
/romancal/dq_init/				@ddavis-stsci
/romancal/flatfield/			@ddavis-stsci
/romancal/flux/					@stscieisenhamer
/romancal/jump/					@WilliamJamieson
/romancal/lib/					@ddavis-stsci
/romancal/linearity/			@ddavis-stsci
/romancal/multiband_catalog/	@larrybradley @mairanteodoro @stscieisenhamer
/romancal/orientation/			@stscieisenhamer
/romancal/outlier_detection/	@mairanteodoro
/romancal/photom/				@ddavis-stsci
/romancal/pipeline/				@ddavis-stsci
/romancal/ramp_fitting/			@WilliamJamieson @stscieisenhamer
/romancal/refpix/				@WilliamJamieson
/romancal/resample/				@mairanteodoro
/romancal/saturation/			@ddavis-stsci
/romancal/skymatch/				@mairanteodoro
/romancal/source_catalog/		@larrybradley @mairanteodoro @stscieisenhamer
/romancal/stpipe/				@ddavis-stsci
/romancal/tweakreg/				@mairanteodoro
