# flake8 does not support pyproject.toml (https://github.com/PyCQA/flake8/issues/234)

[flake8]
select = F, W, E27, E70, E71, E101, E111, E112, E113, E201, E202, E221, E222, E241, E401, E402, E501, E704, E722
max-line-length = 130
exclude =
    docs,
    .tox,
    .eggs,
    build
ignore = E203, W503, W504
