# To generate this file:
#
#     pip install -e .[test]
#     pip freeze | grep -v romancal.git >> requirements-sdp.txt
#
# Add a CRDS context number for the delivery as a record here
#
# CRDS_CONTEXT = roman_0004.pmap
#
asdf==2.7.3
astropy==4.2
attrs==20.3.0
certifi==2020.12.5
chardet==4.0.0
ci-watson==0.5
codecov==2.1.11
coverage==5.4
crds==10.3.11
filelock==3.0.12
gwcs==0.16.1
hypothesis==6.3.2
idna==2.10
iniconfig==1.1.1
jsonschema==3.2.0
lxml==4.6.2
numpy==1.20.1
packaging==20.9
Parsley==1.3
pluggy==0.13.1
psutil==5.8.0
py==1.10.0
pyerfa==1.7.2
pyparsing==2.4.7
pyrsistent==0.17.3
pytest==6.2.2
pytest-arraydiff==0.3
pytest-astropy==0.8.0
pytest-astropy-header==0.1.2
pytest-cov==2.11.1
pytest-doctestplus==0.9.0
pytest-filter-subpackage==0.1.1
pytest-openfiles==0.5.0
pytest-remotedata==0.3.2
PyYAML==5.4.1
requests==2.25.1
scipy==1.6.1
semantic-version==2.8.5
six==1.15.0
sortedcontainers==2.3.0
stdatamodels==0.2.0
stpipe==0.1.0
toml==0.10.2
urllib3==1.26.3
