# ASDF upstream packages
git+https://github.com/asdf-format/asdf-standard.git
git+https://github.com/asdf-format/asdf.git
git+https://github.com/asdf-format/asdf-transform-schemas.git
git+https://github.com/asdf-format/asdf-coordinates-schemas.git
git+https://github.com/asdf-format/asdf-wcs-schemas.git

# Use current dev version of deepdiff
git+https://github.com/seperman/deepdiff.git@dev

# Use weekly astropy dev build
git+https://github.com/astropy/asdf-astropy.git
--extra-index-url https://pypi.anaconda.org/astropy/simple astropy --pre
--extra-index-url https://pypi.anaconda.org/liberfa/simple pyerfa --pre
git+https://github.com/astropy/photutils.git

# Use Bi-weekly numpy/scipy dev builds
--extra-index-url https://pypi.anaconda.org/scientific-python-nightly-wheels/simple
numpy>=2.0.0.dev0
scipy>=0.0.dev0
