# To generate this file:
#
#     pip install -e .[test]
#     pip freeze | grep -v romancal.git >> requirements-sdp.txt
#
# Add a CRDS context number for the delivery as a record here
#
# CRDS_CONTEXT = roman_0023.pmap
#
alabaster==0.7.12
asdf==2.8.2
astropy==5.0
astropy-sphinx-theme==1.1
attrs==21.2.0
Babel==2.9.1
certifi==2021.10.8
charset-normalizer==2.0.9
ci-watson==0.5
codecov==2.1.12
coverage==6.2
crds==11.5.2
cycler==0.11.0
docutils==0.17.1
filelock==3.4.0
fonttools==4.28.3
gwcs==0.17.1
hypothesis==6.31.0
idna==3.3
imagesize==1.3.0
iniconfig==1.1.1
Jinja2==3.0.3
jmespath==0.10.0
jsonschema==3.2.0
kiwisolver==1.3.2
lxml==4.6.4
MarkupSafe==2.0.1
matplotlib==3.5.0
mistune==0.8.4
numpy==1.21.4
numpydoc==1.1.0
packaging==21.3
Parsley==1.3
Pillow==8.4.0
pluggy==1.0.0
psutil==5.8.0
py==1.11.0
pyerfa==2.0.0.1
Pygments==2.10.0
pyparsing==3.0.6
pyrsistent==0.18.0
pytest==6.2.5
pytest-arraydiff==0.3
pytest-astropy==0.9.0
pytest-astropy-header==0.1.2
pytest-cov==3.0.0
pytest-doctestplus==0.11.2
pytest-filter-subpackage==0.1.1
pytest-mock==3.6.1
pytest-openfiles==0.5.0
pytest-remotedata==0.3.2
python-dateutil==2.8.2
pytz==2021.3
PyYAML==6.0
requests==2.26.0
roman-datamodels==0.8.0
romanad==0.8.0
scipy==1.7.3
semantic-version==2.8.5
setuptools-scm==6.3.2
six==1.16.0
snowballstemmer==2.2.0
sortedcontainers==2.4.0
Sphinx==4.3.1
sphinx-asdf==0.1.2
sphinx-astropy==1.6.0
sphinx-automodapi==0.13
sphinx-bootstrap-theme==0.8.0
sphinx-gallery==0.10.1
sphinx-rtd-theme==1.0.0
sphinxcontrib-applehelp==1.0.2
sphinxcontrib-devhelp==1.0.2
sphinxcontrib-htmlhelp==2.0.0
sphinxcontrib-jsmath==1.0.1
sphinxcontrib-qthelp==1.0.3
sphinxcontrib-serializinghtml==1.1.5
stcal==0.4.2
stdatamodels==0.4.0
stpipe==0.3.1
stsci-rtd-theme==0.0.2
toml==0.10.2
tomli==1.2.2
urllib3==1.26.7
