git+https://github.com/asdf-format/asdf
git+https://github.com/asdf-format/asdf-transform-schemas
git+https://github.com/asdf-format/asdf-wcs-schemas
--extra-index-url https://pypi.anaconda.org/astropy/simple astropy --pre
git+https://github.com/astropy/asdf-astropy
git+https://github.com/spacetelescope/crds
git+https://github.com/spacetelescope/gwcs
numpy>=0.0.dev0
git+https://github.com/spacetelescope/roman_datamodels
scipy>=0.0.dev0
git+https://github.com/spacetelescope/stpipe
git+https://github.com/spacetelescope/stcal
git+https://github.com/spacetelescope/tweakwcs
