# Roman upstream packages
git+https://github.com/spacetelescope/roman_datamodels
git+https://github.com/spacetelescope/rad

# shared upstream packages
git+https://github.com/mairanteodoro/stcal.git@stcal-alignment
git+https://github.com/spacetelescope/stpipe

# Other important upstream packages
git+https://github.com/spacetelescope/crds
git+https://github.com/spacetelescope/gwcs
git+https://github.com/spacetelescope/metrics_logger
git+https://github.com/spacetelescope/tweakwcs
git+https://github.com/astropy/photutils.git