# Roman upstream packages
git+https://github.com/spacetelescope/roman_datamodels.git
git+https://github.com/spacetelescope/rad.git

# shared upstream packages
git+https://github.com/spacetelescope/stcal.git
git+https://github.com/spacetelescope/stpipe.git

# Other important upstream packages
git+https://github.com/spacetelescope/crds.git
git+https://github.com/spacetelescope/gwcs.git
git+https://github.com/spacetelescope/tweakwcs.git
