name: test

on:
  workflow_dispatch:
  push:
    branches:
      - main
      - '*x'
    tags:
      - '*'
  pull_request:
    branches:
      - main
  schedule:
    # Weekly Monday 9AM build
    - cron: "0 9 * * 1"

concurrency:
  group: ${{ github.workflow }}-${{ github.ref }}
  cancel-in-progress: true

jobs:
  data:
    name: retrieve current CRDS context, and WebbPSF data
    runs-on: ubuntu-latest
    env:
      OBSERVATORY: roman
      CRDS_SERVER_URL: https://roman-crds.stsci.edu
      # CRDS_PATH here should match DATA_PATH in webbpsf_data.yml
      CRDS_PATH: /tmp/data
      GH_TOKEN: ${{ github.token }}
    outputs:
      # TODO simplify data_path and crds_path as they are the same
      data_path: ${{ steps.data.outputs.path }}
      webbpsf_path: ${{ steps.webbpsf_path.outputs.path }}
      data_hash: ${{ steps.data_hash.outputs.hash }}
      crds_path: ${{ steps.crds_path.outputs.path }}
      crds_context: ${{ steps.crds_context.outputs.pmap }}
      crds_server: ${{ steps.crds_server.outputs.url }}
    steps:
      # crds:
      - id: data
        run: echo "path=/tmp/data" >> $GITHUB_OUTPUT
      - id: crds_context
        run: >
          echo "pmap=$(
          curl -s -X POST -d '{"jsonrpc": "1.0", "method": "get_default_context", "params": ["${{ env.OBSERVATORY }}"], "id": 1}' ${{ env.CRDS_SERVER_URL }}/json/ |
          python -c "import sys, json; print(json.load(sys.stdin)['result'])"
          )" >> $GITHUB_OUTPUT
        # Get default CRDS_CONTEXT without installing crds client
        # See https://hst-crds.stsci.edu/static/users_guide/web_services.html#generic-request
      - id: crds_path
        run: echo "path=${{ env.CRDS_PATH }}" >> $GITHUB_OUTPUT
      - id: crds_server
        run: echo "url=${{ env.CRDS_SERVER_URL }}" >> $GITHUB_OUTPUT
      # webbpsf:
      - id: data_hash
        run: |
          # use actions/gh-actions-cache to allow filtering by key
          gh extension install actions/gh-actions-cache

          RECENT=$(gh actions-cache list -R spacetelescope/romancal --key webbpsf- --sort created-at | cut -f 1 | head -n 1)
          echo "RECENT=$RECENT"
          HASH=$(echo $RECENT | cut -d '-' -f 2)
          echo "HASH=$HASH"
          echo "hash=$HASH" >> $GITHUB_OUTPUT
          if [ "$HASH" == '' ]; then exit 1; fi
      - id: webbpsf_path
        run: echo "path=${{ steps.data.outputs.path }}/webbpsf-data" >> $GITHUB_OUTPUT
  check:
    uses: OpenAstronomy/github-actions-workflows/.github/workflows/tox.yml@v1
    with:
      envs: |
        - linux: check-dependencies
        - linux: build-dist
  test:
    uses: OpenAstronomy/github-actions-workflows/.github/workflows/tox.yml@v1
    needs: [ data ]
    with:
      setenv: |
        WEBBPSF_PATH: ${{ needs.data.outputs.webbpsf_path }}
        CRDS_PATH: ${{ needs.data.outputs.crds_path }}
        CRDS_SERVER_URL: ${{ needs.data.outputs.crds_server }}
        CRDS_CLIENT_RETRY_COUNT: 3
        CRDS_CLIENT_RETRY_DELAY_SECONDS: 20
        DD_SERVICE: romancal
        DD_ENV: ci
        DD_GIT_REPOSITORY_URL: ${{ github.repositoryUrl }}
        DD_GIT_COMMIT_SHA: ${{ github.sha }}
        DD_GIT_BRANCH: ${{ github.ref_name }}
      cache-path: ${{ needs.data.outputs.data_path }}
      cache-key: data-${{ needs.data.outputs.data_hash }}-${{ needs.data.outputs.crds_context }}
      cache-restore-keys: webbpsf-${{ needs.data.outputs.data_hash }}
      envs: |
        - linux: py39-oldestdeps-cov
          pytest-results-summary: true
        - linux: py39
          pytest-results-summary: true
        - linux: py310
          pytest-results-summary: true
        - linux: py311-ddtrace
          pytest-results-summary: true
        - macos: py311-ddtrace
          pytest-results-summary: true
        - linux: py311-cov
          coverage: codecov
          pytest-results-summary: true
