name: test on schedule

on:
  schedule:
    # Weekly Monday 6AM build
    - cron: "0 0 * * 1"
  pull_request:
    # We also want this workflow triggered if the `Weekly CI` label is
    # added or present when PR is updated
    types:
      - opened
      - reopened
      - labeled
      - unlabeled
      - synchronize
  push:
    tags:
      - "*"
  workflow_dispatch:

concurrency:
  group: ${{ github.workflow }}-${{ github.ref }}
  cancel-in-progress: true

jobs:
  webbpsf_data:
    if: (github.repository == 'spacetelescope/romancal' && (github.event_name == 'schedule' || github.event_name == 'push' || github.event_name == 'workflow_dispatch' || contains(github.event.pull_request.labels.*.name, 'run scheduled tests')))
    uses: spacetelescope/webbpsf/.github/workflows/retrieve_cache.yml@develop
  crds_contexts:
    if: (github.repository == 'spacetelescope/romancal' && (github.event_name == 'schedule' || github.event_name == 'push' || github.event_name == 'workflow_dispatch' || contains(github.event.pull_request.labels.*.name, 'run scheduled tests')))
    uses: spacetelescope/crds/.github/workflows/contexts.yml@master
  test:
    if: (github.repository == 'spacetelescope/romancal' && (github.event_name == 'schedule' || github.event_name == 'push' || github.event_name == 'workflow_dispatch' || contains(github.event.pull_request.labels.*.name, 'run scheduled tests')))
    uses: OpenAstronomy/github-actions-workflows/.github/workflows/tox.yml@v1
    needs: [ webbpsf_data, crds_contexts ]
    secrets:
      CODECOV_TOKEN: ${{ secrets.CODECOV_TOKEN }}
    with:
      setenv: |
        WEBBPSF_PATH: ${{ runner.temp }}/webbpsf_data
        CRDS_PATH: ${{ runner.temp }}/crds_cache
        CRDS_SERVER_URL: https://roman-crds.stsci.edu
        CRDS_CLIENT_RETRY_COUNT: 3
        CRDS_CLIENT_RETRY_DELAY_SECONDS: 20
      cache-path: |
        ${{ runner.temp }}/webbpsf_data
        ${{ runner.temp }}/crds_cache
      cache-key: data-${{ needs.webbpsf_data.outputs.cache_key }}-${{ needs.crds_contexts.outputs.roman }}
      cache-restore-keys: ${{ needs.webbpsf_data.outputs.cache_key }}
      envs: |
        - macos: py310-webbpsf
          pytest-results-summary: true
        - macos: py311-sdpdeps-webbpsf
          pytest-results-summary: true
        - linux: py3-pyargs-webbpsf
          pytest-results-summary: true
