name: test

on:
  push:
    branches:
      - main
      - '*x'
    tags:
      - '*'
  pull_request:
    branches:
      - main
  schedule:
    # Weekly Monday 9AM build
    - cron: "0 9 * * 1"
  workflow_dispatch:
    inputs:
      crds_context:
        description: CRDS context (leave blank for latest)
        type: string
        required: false
        default: ''
      crds_server:
        description: CRDS server
        type: string
        required: false
        default: https://roman-crds.stsci.edu

concurrency:
  group: ${{ github.workflow }}-${{ github.ref }}-${{ inputs.crds_context }}
  cancel-in-progress: true

jobs:
  check:
    uses: OpenAstronomy/github-actions-workflows/.github/workflows/tox.yml@v2
    with:
      envs: |
        - linux: check-dependencies
  stpsf_data_cache:
    uses: ./.github/workflows/retrieve_cache.yml
    with:
      minimal: true
  latest_crds_contexts:
    uses: ./.github/workflows/contexts.yml
  crds_context:
    needs: [ latest_crds_contexts ]
    runs-on: ubuntu-latest
    steps:
      - id: context
        run: echo context=${{ github.event_name == 'workflow_dispatch' && (inputs.crds_context != '' && inputs.crds_context || needs.latest_crds_contexts.outputs.roman) || needs.latest_crds_contexts.outputs.roman }} >> $GITHUB_OUTPUT
    outputs:
      context: ${{ steps.context.outputs.context }}
  test:
    uses: OpenAstronomy/github-actions-workflows/.github/workflows/tox.yml@v2
    needs: [ stpsf_data_cache, crds_context ]
    secrets:
      CODECOV_TOKEN: ${{ secrets.CODECOV_TOKEN }}
    with:
      setenv: |
        STPSF_PATH: /tmp/data/stpsf-data/
        CRDS_PATH: /tmp/data/crds_cache/
        CRDS_SERVER_URL: ${{ github.event_name == 'workflow_dispatch' && inputs.crds_server || 'https://roman-crds.stsci.edu' }}
        CRDS_CONTEXT: ${{ needs.crds_context.outputs.context }}
        CRDS_CLIENT_RETRY_COUNT: 3
        CRDS_CLIENT_RETRY_DELAY_SECONDS: 20
        DD_SERVICE: romancal
        DD_ENV: ci
        DD_GIT_REPOSITORY_URL: ${{ github.repositoryUrl }}
        DD_GIT_COMMIT_SHA: ${{ github.sha }}
        DD_GIT_BRANCH: ${{ github.ref_name }}
      cache-path: /tmp/data/
      cache-key: data-${{ needs.stpsf_data_cache.outputs.cache_key }}-${{ needs.crds_context.outputs.context }}
      cache-restore-keys: ${{ needs.stpsf_data_cache.outputs.cache_key }}
      envs: |
        - linux: py311-oldestdeps-stpsf-cov
        - linux: py311-stpsf-nolegacypath
        - linux: py312-ddtrace-stpsf
        - macos: py312-ddtrace-stpsf
        # `tox` does not currently respect `requires-python` versions when creating testing environments;
        # if this breaks, add an upper pin to `requires-python` and revert this py3 to the latest working version
        - linux: py3-stpsf-cov
          coverage: codecov
          pytest-results-summary: true
        - macos: py3-stpsf
          pytest-results-summary: true
