name: test

on:
  workflow_dispatch:
  push:
    branches:
      - main
      - '*x'
    tags:
      - '*'
  pull_request:
    branches:
      - main
  schedule:
    # Weekly Monday 9AM build
    - cron: "0 9 * * 1"

concurrency:
  group: ${{ github.workflow }}-${{ github.ref }}
  cancel-in-progress: true

jobs:
  check:
    uses: OpenAstronomy/github-actions-workflows/.github/workflows/tox.yml@v1
    with:
      envs: |
        - linux: check-dependencies
  webbpsf_data_cache:
    uses: spacetelescope/webbpsf/.github/workflows/retrieve_cache.yml@develop
    with:
      minimal: true
  crds_contexts:
    uses: spacetelescope/crds/.github/workflows/contexts.yml@master
  test:
    uses: OpenAstronomy/github-actions-workflows/.github/workflows/tox.yml@v1
    needs: [ webbpsf_data_cache, crds_contexts ]
    secrets:
      CODECOV_TOKEN: ${{ secrets.CODECOV_TOKEN }}
    with:
      setenv: |
        WEBBPSF_PATH: ${{ needs.webbpsf_data_cache.outputs.cache_path }}webbpsf-data/
        CRDS_PATH: ${{ needs.webbpsf_data_cache.outputs.cache_path }}crds_cache/
        CRDS_SERVER_URL: https://roman-crds.stsci.edu
        CRDS_CLIENT_RETRY_COUNT: 3
        CRDS_CLIENT_RETRY_DELAY_SECONDS: 20
        DD_SERVICE: romancal
        DD_ENV: ci
        DD_GIT_REPOSITORY_URL: ${{ github.repositoryUrl }}
        DD_GIT_COMMIT_SHA: ${{ github.sha }}
        DD_GIT_BRANCH: ${{ github.ref_name }}
      cache-path: /tmp/data/
      cache-key: data-${{ needs.webbpsf_data_cache.outputs.cache_key }}-${{ needs.crds_contexts.outputs.roman }}
      cache-restore-keys: ${{ needs.webbpsf_data_cache.outputs.cache_key }}
      envs: |
        - linux: py310-oldestdeps-webbpsf-cov
          pytest-results-summary: true
        - linux: py310-webbpsf-nolegacypath
          pytest-results-summary: true
        - linux: py311-ddtrace-webbpsf
          pytest-results-summary: true
        - macos: py311-ddtrace-webbpsf
          pytest-results-summary: true
        - linux: py311-webbpsf-cov
          coverage: codecov
          pytest-results-summary: true
        - linux: py312-webbpsf
