name: test with development versions

on:
  push:
    branches:
      - main
      - '*x'
    tags:
      - '*'
  pull_request:
    types:
      - opened
      - reopened
      - labeled
      - unlabeled
      - synchronize
  schedule:
    # Weekly Monday 9AM build
    - cron: "0 9 * * 1"
  workflow_dispatch:

concurrency:
  group: ${{ github.workflow }}-${{ github.ref }}
  cancel-in-progress: true

jobs:
  data:
    if: (github.repository == 'spacetelescope/romancal' && (github.event_name == 'schedule' || github.event_name == 'push' || github.event_name == 'workflow_dispatch' || contains(github.event.pull_request.labels.*.name, 'run devdeps tests')))
    uses: ./.github/workflows/data.yml
  test:
    if: (github.repository == 'spacetelescope/romancal' && (github.event_name == 'schedule' || github.event_name == 'push' || github.event_name == 'workflow_dispatch' || contains(github.event.pull_request.labels.*.name, 'run devdeps tests')))
    uses: OpenAstronomy/github-actions-workflows/.github/workflows/tox.yml@main
    needs: [ data ]
    with:
      setenv: |
        WEBBPSF_PATH: ${{ needs.data.outputs.webbpsf_path }}
        CRDS_PATH: ${{ needs.data.outputs.crds_path }}
        CRDS_SERVER_URL: ${{ needs.data.outputs.crds_server }}
        CRDS_CLIENT_RETRY_COUNT: 3
        CRDS_CLIENT_RETRY_DELAY_SECONDS: 20
      cache-path: ${{ needs.data.outputs.crds_path }}
      cache-key: data-${{ needs.data.outputs.webbpsf_hash }}-${{ needs.data.outputs.crds_context }}
      cache-restore-keys: webbpsf-${{ needs.data.outputs.webbpsf_hash }}
      envs: |
        - linux: py39-devdeps
        - macos: py39-devdeps
        - linux: py310-devdeps
        - macos: py310-devdeps
        - linux: py311-devdeps
        - macos: py311-devdeps
        - linux: py3-devdeps
          pytest-results-summary: true
        - macos: py3-devdeps
          pytest-results-summary: true
