name: test with development versions

on:
  push:
    branches:
      - main
      - '*x'
    tags:
      - '*'
  pull_request:
    types:
      - opened
      - reopened
      - labeled
      - unlabeled
      - synchronize
  schedule:
    # Weekly Monday 9AM build
    - cron: "0 9 * * 1"
  workflow_dispatch:

concurrency:
  group: ${{ github.workflow }}-${{ github.ref }}
  cancel-in-progress: true

jobs:
  webbpsf_data:
    if: (github.repository == 'spacetelescope/romancal' && (github.event_name == 'schedule' || github.event_name == 'push' || github.event_name == 'workflow_dispatch' || contains(github.event.pull_request.labels.*.name, 'run devdeps tests')))
    uses: spacetelescope/webbpsf/.github/workflows/retrieve_cache.yml@develop
  crds_contexts:
    if: (github.repository == 'spacetelescope/romancal' && (github.event_name == 'schedule' || github.event_name == 'push' || github.event_name == 'workflow_dispatch' || contains(github.event.pull_request.labels.*.name, 'run devdeps tests')))
    uses: spacetelescope/crds/.github/workflows/contexts.yml@master
  test:
    if: (github.repository == 'spacetelescope/romancal' && (github.event_name == 'schedule' || github.event_name == 'push' || github.event_name == 'workflow_dispatch' || contains(github.event.pull_request.labels.*.name, 'run devdeps tests')))
    uses: OpenAstronomy/github-actions-workflows/.github/workflows/tox.yml@v1
    needs: [ webbpsf_data, crds_contexts ]
    with:
      setenv: |
        WEBBPSF_PATH: ${{ runner.temp }}/webbpsf_data
        CRDS_PATH: ${{ runner.temp }}/crds_cache
        CRDS_SERVER_URL: https://roman-crds.stsci.edu
        CRDS_CLIENT_RETRY_COUNT: 3
        CRDS_CLIENT_RETRY_DELAY_SECONDS: 20
      cache-path: |
        ${{ runner.temp }}/webbpsf_data
        ${{ runner.temp }}/crds_cache
      cache-key: data-${{ needs.webbpsf_data.outputs.cache_key }}-${{ needs.crds_contexts.outputs.roman }}
      cache-restore-keys: ${{ needs.webbpsf_data.outputs.cache_key }}
      envs: |
        - linux: py310-stdevdeps-webbpsf
        - linux: py310-devdeps-webbpsf
        - macos: py310-stdevdeps-webbpsf
        - macos: py310-devdeps-webbpsf
        - linux: py311-stdevdeps-webbpsf
        - linux: py311-devdeps-webbpsf
        - macos: py311-stdevdeps-webbpsf
        - macos: py311-devdeps-webbpsf
        - linux: py3-stdevdeps-webbpsf
          pytest-results-summary: true
        - linux: py3-devdeps-webbpsf
          pytest-results-summary: true
        - macos: py3-stdevdeps-webbpsf
          pytest-results-summary: true
        - macos: py3-devdeps-webbpsf
          pytest-results-summary: true
        - linux: py312-devdeps
          python_version: "3.12-dev"
